::-webkit-input-placeholder {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: tomato;
    height: 100vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
    width: 80vw;
    border: 1px solid white;
    background-color: tomato;
    color: rgb(255, 241, 241);
    font-size: 50px;

}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-top: 5vh;
    padding: 25px 75px;
    border-radius: 9px;
}

.nameInput {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    color: white;
    background-color: tomato;
    border-bottom: 1px solid white;
    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.submitButton {
    background-color: tomato;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 30px;
    font-size: 20px;

    &:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
    }

    &:active {
        background-color: white;
        color: tomato;
    }
}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist {
    display: flex;
    flex-direction: row;

    border: 1px solid white;
    margin: 5px 5px;
    color: white;
}

.success {
    background-color: rgb(67, 184, 67);
}

.unknown {
    background: grey;
}

.artistCell {
    padding: 5px 15px;

    &:hover {
        background-color: white;
        color: tomato;
        cursor: pointer;
    }
}

.updateCell {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    height: 50%;
    width: 10px;

    &:hover {
        background-color: white;
        color: tomato;
        cursor: pointer;
    }
}

.linkCell {
    border-left: 1px solid white;
    height: 50%;
    width: 10px;

    &:hover {
        background-color: white;
        color: tomato;
        cursor: pointer;
    }
}