::-webkit-input-placeholder {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: tomato;
    height: 100vh;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
    width: 80vw;
    border: 1px solid white;
    background-color: tomato;
    color: rgb(255, 241, 241);
    font-size: 50px;

}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    margin-top: 5vh;
    padding: 25px 75px;
    border-radius: 9px;
}

.nameInput {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    
    color: white;
    background-color: tomato;
    border-bottom: 1px solid white;
    font-size: 20px;

    &:focus {
        outline: none;
    }
}

.submitButton {
    background-color: tomato;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 30px;
    font-size: 20px;

    &:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
    }

    &:active {
        background-color: white;
        color: tomato;
    }
}

.navContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist {
    display: flex;
    flex-direction: row;

    border: 1px solid white;
    margin: 5px 5px;
    color: white;
}

.success {
    background-color: rgb(67, 184, 67);
}

.unknown {
    background: grey;
}

.artistCell {
    padding: 5px 15px;

    &:hover {
        background-color: white;
        color: tomato;
        cursor: pointer;
    }
}

.updateCell {
    //making flex to algin text vertical centre
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid white;
    border-bottom: 1px solid white;
    height: 50%;
    font-size: 15px;
    background-color: cornflowerblue;

    &:hover {
        background-color: white;
        color: cornflowerblue;
        cursor: pointer;
    }
}

.linkCell {
    //making flex to algin text vertical centre
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 1px solid white;
    height: 50%;
    color: white;
    text-decoration: none;
    padding: 0 1px;
    font-size: 10px;
    background-color: cornflowerblue;

    &:hover {
        background-color: white;
        color: cornflowerblue;
        cursor: pointer;
    }
}

.pictureCollage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    .singleImage {
        width: 25%;
        
        img {
            width: 100%;
            height: auto;    
        }
    }
}

// .pictureCollage {
//     line-height: 0;
   
//     -webkit-column-count: 5;
//     -webkit-column-gap: 0;
//     // -moz-column-count: 5;
//     // -moz-column-gap: 0;
//     column-count: 5;
//     column-gap: 0px;  

//     img {
//         width: 100% !important;
//         height: auto !important;
//         border: 1px solid black;
//     }
// }